<%= render "./layouts/navbar" %>
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-3">
    <div class="col">Não iniciadas: 10</div>
    <div class="col">Em andamento: 5</div>
  </div>
  <div class="col-9">
  <%= form_tag reclamacaos_path, method: :get do %>
    <%= text_field_tag :email_sender, params[:email_sender] %>
    <%= select_tag :type, options_for_select(AttendanceType.all.map{ |a| a.name}), include_blank: true %>
    <%= submit_tag "Search"%>
  <% end %>
    Email
    Tipo
    Nº Processo
  </div>
</div>
<h1>Reclamacoes</h1>

<div class="row justify-content-md-center" style="padding: 10px;">
  <% @reclamacoes.each_with_index do |reclamacoes, i| %>
    <% if i > 0 %>
      <hr>
    <% end %>
    <div class="col-6">
      <div class="col-12">
        <%= reclamacoes.subject %>
      </div>
      <div class="col-12">
        <%= reclamacoes.email_sender %>
      </div>
    </div>
    <div class="col-2"><%= reclamacoes.status %></div>
    <div class="col-1"><%= reclamacoes.type[0] if reclamacoes.type.present? %></div>
    <div class="col-1"><%= reclamacoes.created_at.to_date %></div>
  <% end %>
</div>
