<div style="padding-left: 45px;padding-right: 45px;">
  <h4 class="teste" style="margin: 20px;text-align:center;font-weight: bold;"><%= @atendimento.num_protocolo %> - <%= @atendimento.subject %></h4>
  <div style="box-shadow: 0px 0px 4px 0px #b7b7b7;padding:20px;">
    <p style="font-size: x-large;">Última interação</p>
    <div style="color: #707070;"><%= @historico.first.texto %></div>
  </div>
  <% if @historico.present? %>
    <div style="text-align: center;margin-top:20px;">
      <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">Ver Histórico Completo</button>
    </div>
  <% end %>

  <% if !@atendimento.resolvido? %>
    <div>
      <div style="font-size: x-large;margin-top: 2vh;">
        <div class="row">
          <div class="col-6">
            <%= form_tag reclamacaos_path, method: :get do %>
              <%= label_tag "Ação a ser realizada: " %>
              <%= select_tag :tipo, options_for_select(["PROCEDE", "NÃO PROCEDE"], ""), include_blank: true, id: "acao_realizar", onchange:"setcontent(this)", class:"form-select", style:"width: auto;display: inline;" %>
            <% end %>
          </div>
          <div class="col-6" style="text-align: right;">
            <%= form_tag close_reclamacao_path, method: :get do %>
              <%= submit_tag "Fechar Atendimento", class:"btn btn-outline-secondary", data: { confirm: 'Deseja fechar o atendimento?' } %>
            <% end %>
          </div>
        </div>
        <div id="content">
        <hr>
        </div>
        <div style="margin-top: 2vh;">
          <%= render 'nao_procede' %>
          <%= render 'procede' %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="alert alert-success" role="alert" style="margin-top: 20px;text-align:center;">
      <p>Atendimento Resolvido!</p>    
    </div>
    <div style="text-align: right;">
      <%= form_tag open_reclamacao_path, method: :get do %>
        <%= submit_tag "Reabrir Atendimento", class:"btn btn-outline-secondary", data: { confirm: 'Deseja reabrir o atendimento?' } %>
      <% end %>
    </div>
  <% end %>
</div>
<%= render 'modal_historico' %>
