<div style="padding-left: 45px;padding-right: 45px;">
  <h4 class="teste" style="margin: 20px;text-align:center;font-weight: bold;"><%= @atendimento.ticket_id %> - <%= @atendimento.subject %></h4>
  <div style="box-shadow: 0px 0px 4px 0px #b7b7b7;padding:20px;">
    <p style="font-size: x-large;">Última interação</p>
    <div style="color: #707070;"><%= @historico.first.texto %></div>
  </div>
  <% if @historico.present? %>
    <div style="text-align: center;margin-top:20px;">
      <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">Ver Histórico Completo</button>
    </div>
  <% end %>

  <div style="font-size: x-large;margin-top: 2vh;">
    <%= form_tag reclamacaos_path, method: :get do %>
      <%= label_tag "Ação a ser realizada: " %>
      <%= select_tag :type, options_for_select(["PROCEDE", "NÃO PROCEDE"], ""), include_blank: true, id: "acao_realizar", onchange:"setcontent(this)", class:"form-select", style:"width: auto;display: inline;" %>
    <% end %>
    <div id="content">
    <hr>
    </div>
    <div style="margin-top: 2vh;">
      <div id="nao-procede" class="hide" style="font-size: medium;">
        <div class="measuringWrapper">
          <%= form_tag reclamacaos_path, method: :post do %>
            <%= label_tag "Responder ao cliente: " %>
            <%= hidden_field_tag :atendimento_pai_id, @atendimento.id %>
            <%= text_area_tag(:texto, "", style:"width: -webkit-fill-available;margin-top: 0px;margin-bottom: 0px;height: 60px;min-height: 60px;color: #707070;margin-top:15px;") %>
            <div class="col" style="margin-top: 15px;float: right;">
              <%= submit_tag "Enviar", class:"btn btn-outline-secondary" %>
            </div>
          <% end %>
        </div>
      </div>
      <div id="procede" class="hide" style="font-size: medium;">
        <%= form_tag reclamacaos_path, method: :post do %>
          <%= label_tag "Para o departamento: " %>
          <%= select_tag :departamento_id, options_from_collection_for_select(@deps, "id", "nome_com_sigla", params[:dep]), include_blank: true, id: "departamentos_select", onchange:"setequipes(this, JSON.parse('#{raw(@equipes.to_json)}'), JSON.parse('#{raw(@servicos.to_json)}'))" , class:"form-select", style:"width: auto;display: inline;" %>
          <br><%= label_tag "Para a equipe: " %>
          <%= select_tag :equipe_id, options_from_collection_for_select([], "id", "nome", params[:equipe]), include_blank: true, id: "equipes_select", onchange:"setservicos(this.value, JSON.parse('#{raw(@servicos.to_json)}'))" , class:"form-select", style:"min-width:200px;width: auto;display: inline;margin-top:15px;" %>
          <br><%= label_tag "Serviço: " %>
          <%= select_tag :servico_ticket_id, options_from_collection_for_select([], "id", "nome", params[:servico]), include_blank: true, id: "servicos_select", class:"form-select", style:"min-width:200px;width: auto;display: inline;margin-top:15px;margin-bottom:15px;" %>
          <br><%= label_tag "Responder ao departamento: " %>
          <%= text_area_tag(:texto, "", style:"width: -webkit-fill-available;margin-top: 0px;margin-bottom: 0px;height: 60px;min-height: 60px;color: #707070;") %>
          <div class="col" style="margin-top: 15px;float: right;">
            <%= submit_tag "Enviar", class:"btn btn-outline-secondary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Histórico</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% @historico.each_with_index do |atendimentohist, i| %>
        <div class="row">
          <div class="col-10"><p><%= atendimentohist.texto %></p></div>
          <div class="col-2"><p><%= atendimentohist.created_at.strftime("%d/%m/%Y %H:%M") %></p></div>
        </div>
          
          <% i = i+1 %>
          <% if i < @historico.size %>
            <hr>
          <% end %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- #<Reclamacao:0x0000000005b0f748
 texto: "Background job",
 message_id: "17aa1590c4dc2af8",
 history_id: "2209066",
 position: 0,
 reclamacao_owner_id: "17aa158f92cde4f4",
 created_at: Fri, 16 Jul 2021 20:31:38.881504000 UTC +00:00,
 updated_at: Fri, 16 Jul 2021 20:31:38.881504000 UTC +00:00,
 type: "Reclamacao",
 ticket_id: nil,
 snippet: nil,
 email_sender: "jonathaseloi@gmail.com",
 status: "NÃO INICIADO",
 subject: "Background job">  -->
 <!-- #<Reclamacao id: 6, texto: "ok", message_id: "17aa157db92c606f", history_id: "2209066", position: 1, reclamacao_owner_id: "17aa13c7fdb9aeb6", created_at: "2021-07-16 20:31:38.557444000 +0000", updated_at: "2021-07-16 20:31:38.557444000 +0000", type: "Reclamacao", ticket_id: nil, snippet: nil, email_sender: "jonathaseloi@gmail.com", status: "NÃO INICIADO", subject: "Re: Cancelar inscrição"></Reclamacao> -->